body{
    width: 100vw;
    body, h1, h2, h3, h4, h5, h6  {
        font-family: "Segoe UI", Arial, sans-serif;
      }
}
.hourly{
    /* background-color: #35353f; */
    margin-top: 5%;
    margin-bottom: 1%;
    width: 60vw;
    color: white;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 15px;
}
.hSingle{
    display: flex;
    justify-content: space-evenly;
}
.headings{
    text-align: center;
}
.headings p:nth-child(1){
    font-size: 1.5em;;
}
.headings p:nth-child(2){
    font-size: .7em;
}
.mobileSvg{
    height: 100px; 
    width: 100px;
}

.hDiv{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex: 1 0 auto;
    
    overflow-x: scroll;;
    text-align: center;
    
}
.hInside{
    flex-direction: column;
    font-weight: bold;
    background: #c8eaeb;
    color: #35353f;
    border-radius: 15px;
    margin: .5%;
}
.hInside{
    font-size: .5em;

    min-width: 5%;
}
.hInside img{
    height: 20px;
    width: 20px;

}