@media only screen and (max-width: 500px){
    body{
        overflow-x: hidden;
        background: #FFE142;
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%
    }
    .location{
        margin-top: 30%;
        text-align: center;
    }
    .day{
        text-align: center;
        color: black;
    }
    .dailySummary{
        margin-bottom: 10%;
    }
}

.mainDesk{
    display: flex;
}

.beside{
    display: flex;
    align-items: flex-start;
}
body{
    background: #1e1f24;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
  }
  .besideTop{
        display: flex;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  }